.button {
  padding: 16px 21.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &__icon {
    & > svg {
      display: block;
    }
  }
}
