@use '../../common/animation';

.account-card {
  padding: 22px;
  display: grid;
  gap: 9px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  &__id {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.22;

    @media (min-width: 480px) {
      grid-column: 1 / span 2;
      font-size: 18px;
    }

    &--skeleton {
      width: 100%;
      height: 18px;
      background-color: var(--clr-gray-7);
      border-radius: 7px;
      animation: skeleton 800ms ease-in-out infinite alternate;

      @media (min-width: 480px) {
        height: 22px;
      }
    }
  }

  &__balance {
    font-size: 16px;
    line-height: 1.43;

    @media (min-width: 480px) {
      grid-column: 1 / span 2;
      font-size: 14px;
    }

    &--skeleton {
      width: 40%;
      height: 23px;
      background-color: var(--clr-gray-7);
      border-radius: 7px;
      animation: skeleton 800ms ease-in-out infinite alternate;

      @media (min-width: 480px) {
        height: 20px;
      }
    }
  }

  &__transaction {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.15;

    @media (min-width: 480px) {
      align-self: end;
      font-size: 13px;
    }

    &--skeleton {
      width: 50%;
      height: 36px;
      background-color: var(--clr-gray-7);
      border-radius: 7px;
      animation: skeleton 800ms ease-in-out infinite alternate;

      @media (min-width: 480px) {
        width: 100%;
        height: 30px;
      }
    }

    &-title {
      font-weight: 700;
    }
  }

  .button {
    @media (min-width: 480px) {
      justify-self: end;
    }
  }
}
