.balance-chart {
  width: 100%;
  padding: 25px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: var(--clr-white);
  border-radius: 25px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  @media (min-width: 480px) {
    padding-left: 30px;
    border-radius: 30px;
  }

  @media (min-width: 576px) {
    padding-left: 50px;
    border-radius: 50px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }

  &__canvas {
    margin: -10px;
    max-height: 235px;
    max-width: 100%;
  }
}
