.button--secondary {
  padding: 14px 19.5px;
  color: var(--clr-primary);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-primary);

  &:disabled {
    background-color: var(--clr-secondary-2);
    pointer-events: none;
  }
}
