:root {
  --clr-primary: #116acc;
  --clr-primary-light: #8ab6e6;
  --clr-primary-lighter: #d9e7f7;
  --clr-primary-lightest: #f5f9fd;
  --clr-primary-shade: #083464;
  --clr-secondary-1: #182233;
  --clr-secondary-2: #b3cee2;
  --clr-secondary-3: #d9dde7;
  --clr-secondary-4: #fd4e5d;
  --clr-black: #000000;
  --clr-gray-1: #1f2937;
  --clr-gray-2: #374151;
  --clr-gray-3: #4b5563;
  --clr-gray-4: #6b7280;
  --clr-gray-5: #9ca3af;
  --clr-gray-6: #d1d5db;
  --clr-gray-7: #f3f4f6;
  --clr-white: #ffffff;
  --clr-info: #a0c3ff;
  --clr-success: #76ca66;
  --clr-warning: #fbc756;
  --clr-error: #ba0000;
}
