:root {
  --clr-primary: #116ACC;
  --clr-secondary-1: #182233;
  --clr-secondary-2: #B3CEE2;
  --clr-secondary-3: #D9DDE7;
  --clr-secondary-4: #FD4E5D;
  --clr-black: #000000;
  --clr-gray-1: #1F2937;
  --clr-gray-2: #374151;
  --clr-gray-3: #4B5563;
  --clr-gray-4: #6B7280;
  --clr-gray-5: #9CA3AF;
  --clr-gray-6: #D1D5DB;
  --clr-gray-7: #F3F4F6;
  --clr-white: #FFFFFF;
  --clr-info: #A0C3FF;
  --clr-success: #76CA66;
  --clr-warning: #FBC756;
  --clr-error: #BA0000;
}
