@use '../../common/animation';

.account-currency {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Work Sans', Helvetica, sans-serif;
  background-color: var(--clr-white);
  border-radius: 25px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  @media (min-width: 480px) {
    padding: 30px;
    border-radius: 30px;
  }

  @media (min-width: 576px) {
    padding: 50px;
    border-radius: 50px;
  }

  @media (min-width: 768px) {
    max-width: 668px;
  }

  @media (min-width: 1200px) {
    max-width: none;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: contents;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__code {
    position: relative;
    flex-basis: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.1em;
    overflow: hidden;

    @media (min-width: 480px) {
      font-size: 20px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      content: '..........................................................................................................';
      font-weight: 400;
      font-size: 10px;

      @media (min-width: 480px) {
        font-size: 14px;
      }
    }

    &--skeleton {
      flex-basis: 65%;
      height: 18px;
      background-color: var(--clr-gray-7);
      border-radius: 7px;
      animation: skeleton 800ms ease-in-out infinite alternate;

      @media (min-width: 480px) {
        height: 23px;
      }

      &::after {
        content: '';
      }
    }
  }

  &__amount {
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.1em;

    @media (min-width: 480px) {
      font-size: 20px;
    }

    &--skeleton {
      flex-basis: 30%;
      height: 18px;
      background-color: var(--clr-gray-7);
      border-radius: 7px;
      animation: skeleton 800ms ease-in-out infinite alternate;

      @media (min-width: 480px) {
        height: 23px;
      }
    }
  }
}
